/* Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/*PEN STYLES*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700);
$green: #87C4DB;
$grey: #e9e9e9;
/* Global */

html {
	min-height: 100%;
	overflow: hidden;
}

.arrow{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #66615B;
    border-right: 5px solid #66615B;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.article-title {
	color: #FFFFFF;
    background: #66615B;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-title {
	color: #66615B;
	margin: 30px 30px 15px 30px;
	cursor: pointer;
}

.card-text {
	color: #66615B;
	margin: 10px 30px 5px 30px;
	line-height: 1.7;
	padding: 10px 0px 10px 0px;
}

.card {
	box-shadow: 0 0 white;
}

.read {
	color: #66ccff
}
.card-subtitle {
	margin-left: 30px;
	margin-bottom: 30px;
	line-height: 1.5
}

.content-wrapper {
	margin: 5%
}
body {
	height: calc(100vh - 8em);
	padding: 4em;
	color: rgba(255, 255, 255, .75);
	font-family: 'Anonymous Pro', monospace;
	background-color: rgb(25, 25, 25);
  }


@mixin transition($dur, $prop: all) {
	transition: $prop $dur ease;
	-webkit-transition: $prop $dur ease;
}

@mixin bgImg($url) {
	background: url($url) center no-repeat;
	background-size: cover;
}

body {
	background: #f1f1f1;
	margin: 2rem
}

.page-header {
	max-resolution: right -100px;
}