<!-- <app-basicelements></app-basicelements> -->
<!-- <app-navigation></app-navigation> -->
<div class="section">
    <div class="container">
        <div class="col-md-9 col-sm-9 typography-line" style="margin:auto">
            <h3>We're here to put a dent in the universe.
                <br/>
                <small>Otherwise why else even be here?</small>
                <br/>
                <div style="text-align:right; margin:auto">
                    <small> -Steve Jobs</small>
                </div>
                <br>
            </h3>
        </div>
    </div>
</div>
<!-- <div class="section section-notifications" id="notifications">
    <div class="container">
        <div class="tim-title">
            <h3>Notification</h3>
        </div>
    </div>
    <app-notification></app-notification>
</div> -->
<!-- <app-typography></app-typography> -->
<!-- <div class="section" id="carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="../assets/img/3.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                                <p>Somewhere</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../assets/img/federico-beccari.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                                <p>Somewhere else</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../assets/img/joshua-stannard.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <p>Here it is</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div> -->
