.inside {
    img {
        width: 100% !important;
        height: auto !important;
        margin: auto;
    }
    p {
        text-align: justify;
        font-size: 18px;
        margin-bottom: 30px;
    }
    h2 {
        font-weight: 500;
    }
    h5 {
        margin-left: 1%;
        font-weight: 400;
    }
    figcaption {
        text-align: center;
    }
    blockquote {
        font-size: 22px  
    }
}

.header-post {
    margin-top:10%;
    i {
        cursor: pointer;
    }
    .icon {
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .inside {
        h2 {
            font-size: 22px;
        }
        h5 {
            font-size: 12px;
        }
        p {
            font-size: 13px;
        }
        blockquote {
            font-size: 18px  
        }
    }

    .header-post{
        margin-top: 30%;
    }
}