.list-group-item {
    text-align: left;
}

#company {
    font-size : 16px;
    margin-right: 2px;
}

#skill {
    font-weight: 350;
}

.card-footer {
    font-size : 14px;
}

.card-link {
    margin-bottom: 5%;
}