.list-group-item {
    text-align: left;
}

.contact {
    font-size: 24px;
    margin: 15px
}

.title {
    margin: 10px 0 5px 10px
}

.description {
    margin: 0px 0 30px 10px
}

#company {
    font-size: 16px;
    margin-right: 2px;
}

#skill {
    font-weight: 350;
}

.card-footer {
    font-size: 14px;
}

.card-link {
    margin-bottom: 5%;
}