<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background:black">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/faces/SAM_1807.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <h4 class="title">Christian Wibisono</h4>
                <h6 class="description"> Innovator and Data Scientist </h6>
            </div>
            <div class="row">
                <div class="col-md-9 ml-auto mr-auto text-center">
                    <p>
                        I love analyzing data and seeing the impact it can have on business and the real world. Currently working as Data Scientist.
                        Love to ideate, discuss and learn. Hackathon athlete. Born and raised in Wonogiri, Central Java. I spent time watching tv series and movies.
                        I also love cooking, reading a book, listening to podcast/music. Yeah well everyone need hobbies
                    </p>
                    <br>
                    <a class="contact fa fa-linkedin" href="https://www.linkedin.com/in/christianwbsn/"></a>
                    <a class="contact fa fa-github" href="https://github.com/christianwbsn"></a>
                    <a class="contact fa fa-twitter" href="https://twitter.com/christianwbsn"></a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>