<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/profile-banner_1.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/faces/SAM_1807.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Christian Wibisono<br /></h4>
                    <h6 class="description">Informatics Student of Institut Teknologi Bandung </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 ml-auto mr-auto text-center">
                    <p>Machine Learning and Data-Driven Business Enthusiast.
                        <a href="https://en.wikipedia.org/wiki/T-shaped_skills">T-Shaped</a> 
                        INTP who loves to learn new things and create solutions. Interested in technology, especially in machine learning and data analytics.
                        Hard worker with a strong analytical skill. I believe that big things happen when we do little things right. Aspire to be data scientist / machine learning engineer.
                    </p>
                    <a href="https://docs.google.com/document/d/1v3SGydIRSNZwe18MS-r2_rOCErGjisFbe0CnDMdiPQw/edit?usp=sharing" style="text-align:right">Resume</a>
                    <br />
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation col-md-10 col-lg-10 col-sm-10" style="margin:auto">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Education">
                            <ng-template ngbTabContent>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Degree</th>
                                            <th style="text-align:center">Institution</th>
                                            <th style="text-align:center">Major</th>
                                            <th>Year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Bachelor Degree</th>
                                            <td>Institut Teknologi Bandung</td>
                                            <td>Informatics Engineering</td>
                                            <td>2020</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">High School</th>
                                            <td>SMA N 1 Surakarta</td>
                                            <td>Natural Science</td>
                                            <td>2016</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Middle School</th>
                                            <td>SMP PL Bintang Laut</td>
                                            <td></td>
                                            <td>2013</td>
                                        </tr>
                                        </tbody>
                                          </table>
                            </ng-template>
                        </ngb-tab>
                         <ngb-tab title="Skills">
                            <ng-template ngbTabContent>
                                <ul class="list-group list-group-flush">
                                    <ul class="list-group-item">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1" id="skill"><strong> Web Development </strong></h5>
                                        </div>
                                        <li class="mb-1">Front-End : React, Angular</li>
                                        <li class="mb-1">Back-End : Node, Express, Flask, Go</li>
                                        <li class="mb-1">Database : MySQL, MongoDB, PostgreSQL</li>
                                        <small>Familiar with: HTML, CSS, Javascript </small>
                                    </ul>
                                    <ul class="list-group-item" style="text-align:right">
                                        <h5 id="skill"><strong> Machine Learning and Artificial Intelligence </strong></h5>
                                        <p>Tools: ScikitLearn, Keras(Tensorflow), NLTK</p>
                                        <small style="text-align:right">Comfortable using Jupyter Notebook in Python / R</small>
                                    </ul>
                                    <ul class="list-group-item">
                                        <h5 class="mb-1" id="skill"><strong> Others </strong></h5>
                                        <li class="mb-1">Language: C++, C, Python, Java, Pascal, Haskell, Ruby</li>
                                        <small>Comfortable using Git Version Control</small>
                                    </ul>
                                </ul>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Experiences">
                            <ng-template ngbTabContent>
                                    <div class="list-group list-group-flush">
                                            <div class="list-group-item list-group-item-action flex-column align-items-start">
                                              <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1"><strong id="company">Ahlijasa</strong><small> Software Engineer Intern </small></h6>
                                                <small>June-August 2017</small>
                                              </div>
                                              <small>Tangerang,Indonesia</small>
                                              <br><br>
                                              <p style="text-align:justify">Managed to build sustainable dashboard for the operation team. Gain and visualize insight from data. Create some features to simplify driver’s order balancing, order monitoring, and helped Ahlijasa to formulate  expansion strategy. Increased around 40% in better driver performance (on-time rate and behavior). Built using Angular 4 and Google Maps API.</p>
                                            </div>
                                            <div class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <h6 class="mb-1"><strong id="company">Tokopedia</strong><small>Software Engineer Intern</small> </h6>
                                                  <small>May-August 2018</small>
                                                </div>
                                                <small> Jakarta, Indonesia</small>
                                                <br><br>
                                                <p style="text-align:justify">Build Human Resource Information System (HRIS) dashboard and E-Learning for People Development (HR)</p>
                                              </div>
                                    </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Organizations">
                                <ng-template ngbTabContent>
                                        <div class="card-deck">
                                            <div class="card">
                                                <img class="card-img-top" src="assets/img/logo_iit.jpg" alt="Card image cap">
                                                <h5 class="card-footer">
                                                    Vice Chairman of Pengembangan Wawasan dan Karya HMIF
                                                </h5>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="assets/img/logo_arc.jpeg" alt="Card image cap">
                                                <h5 class="card-footer">
                                                    Knowledge Development Division of Amateur Radio Club (ARC) ITB
                                                </h5>
                                                <a href="http://www.arc.itb.ac.id" class="card-link">See more..</a>
                                            </div>
                                            <div class="card">
                                                <img class="card-img-top" src="assets/img/logo_ksep.jpg" alt="Card image cap">
                                                <h5 class="card-footer">
                                                    Member of Economy and Stock Market Study Club (KSEP) ITB
                                                </h5>
                                                <a href="https://www.ksepitb.com/" class="card-link">See more..</a>
                                            </div>
                                        </div>
                                </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Honors">
                            <ng-template ngbTabContent>
                                <img src="assets/img/CSLeaders_Logo.png" class="img-no-padding img-responsive" alt="CSL Logo">
                                <h3>Awardee of CS Leaders Scholarship</h3>
                                <br>
                                <p>A four-year full scholarship and leadership development program for computer science undergraduate at UI and ITB initiated by Peng T. Ong</p>
                                <br>
                                <a href="https://www.csleaders.org">More about CS Leaders</a>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Awards">
                            <ng-template ngbTabContent>
                                    <div class="col-lg-9 col-md-12 col-sm-12 mr-auto ml-auto">
                                            <div class="card page-carousel">
                                                <ngb-carousel>
                                                    <ng-template ngbSlide>
                                                        <img src="../assets/img/award_1.jpg" alt="Random first slide">
                                                        <div class="carousel-caption">
                                                            <p>3rd Winner of Business IT Case Competition FIND IT! UGM 2018</p>
                                                            <p>Aurellia - Unicorn</p>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template ngbSlide>
                                                        <img src="../assets/img/award_2.jpg" alt="ITFEST USU">
                                                        <div class="carousel-caption">
                                                            <p>National Finalist Business IT Case ITFEST USU 2018 </p>
                                                            <p>Budinesia - Baru Bangun</p>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template ngbSlide>
                                                        <img src="../assets/img/award_3.jpg" alt="JOINTS UGM 2018">
                                                        <div class="carousel-caption">
                                                            <p>National Finalist Data Mining Competition JOINTS UGM 2018</p>
                                                            <p>Huyuu</p>
                                                        </div>
                                                    </ng-template>
                                                </ngb-carousel>
                                            </div>
                                        </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
            <br>
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="fa fa-film"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Movieaddict</h4>
                                <p> Enjoy watching movies in cinema.
                                    Big fan of <a href="https://www.imdb.com/name/nm0634240">Nolan</a> and Marvel
                                    Cinematic Universe. Enjoy watching some tv series too. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="nc-icon nc-bulb-63"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Ideaddict</h4>
                                <p> Love to read book and brainstorming about
                                    certain topics. I don't need a place full of scenery, 
                                    All I need is room full of perspective </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Dataddict</h4>
                                <p> Doing some data analysis in my spare time. 
                                    Join some data mining competition, online courses and training.
                                    Mostly done in <a href="https://www.kaggle.com/christianwbsn"> kaggle.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="nc-icon nc-headphones"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Musicaddict</h4>
                                <p>Listen to wide range of genre. From Queen to Imagine Dragons, Coldplay to Zedd</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
