<div class="wrapper">
    <div class="page-header section-dark" style="background:black">
        <div class="container">
            <h2 class="presentation-subtitle" style="text-align:left"> Hi, I'm </h2>
            <div class="row">
                <h1 class="presentation-title" style="text-align:left"> Christian</h1>
            </div>
            <div class="row">
                <h1 class="presentation-title" style="text-align:left"> Wibisono</h1>
            </div>
            <br>
            <h2 class="presentation-subtitle line-1 anim-typewriter"> Innovator & Data Scientist </h2>
            <br>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-neutral btn-simple"
                        [routerLink]="['/article']"> <span>Journal</span></button>
                    <button type="button" class="btn btn-outline-neutral btn-simple"
                        [routerLink]="['/profile']"><span>About Me</span></button>
                </div>
        </div>
    </div>
    <div class="main">
    </div>
</div>