<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <i class="fa fa-google"></i> :
                <a href="mailto:christian.wibisono7@gmail.com" style="margin-right:10px"> christian.wibisono7@gmail.com </a>
                <i class="fa fa-github"></i> :
                <a href="https://github.com/christianwbsn"> christianwbsn </a>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with Angular 4
                </span>
            </div>
        </div>
    </div>
</footer>